.under-construction-img{
    width:10%;
}

body{
    height:90vh;
}

#root{
    height:90vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1250px) {
    .under-construction-img{
        width:20%;
    }
}

@media (max-width: 600px) {
    .under-construction-img{
        width:40%;
    }
}